{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Army Creation Tool</h1>
  </div>
</div>
{{end}}

<div class="container">
  <h2>Choose Units</h2>
  <form action="/create_army" method="post">
    <div class="form-group">
      <label for="infantry">Infantry:</label>
      <input type="number" class="form-control" id="infantry" name="infantry">
    </div>
    <div class="form-group">
      <label for="cavalry">Cavalry:</label>
      <input type="number" class="form-control" id="cavalry" name="cavalry">
    </div>
    <div class="form-group">
      <label for="archers">Archers:</label>
      <input type="number" class="form-control" id="archers" name="archers">
    </div>
    <button type="submit" class="btn btn-primary">Create Army</button>
  </form>
</div>