{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Army Forged</h1>
  </div>
</div>
{{end}}


<!-- Tab Navigation Buttons -->
<div class="tab-container">
  {{if session.current_tab != 1:}}
    <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Configure</button>
  {{else:}}
    <button style="background-color: gray; color: white;">Configure</button>
  {{pass}}
  {{if session.army_book and session.list_name:}}
    {{if session.current_tab != 2:}}
      <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=2', [], function(res) {location.reload(true);});">Add Units</button>
    {{else:}}
      <button style="background-color: gray; color: white;">Add Units</button>
    {{pass}}
  {{else:}}
    <button title="Must Select Army Book and Name the List" disabled>Add Units</button>
  {{pass}}
  {{if session.army_list and "Units" in session.army_list.keys() and session.army_list["Units"]:}}
    {{if session.current_tab != 3:}}
      <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=3', [], function(res) {location.reload(true);});">Edit Units</button>
    {{else:}}
      <button style="background-color: gray; color: white;">Edit Units</button>
    {{pass}}
    {{if session.current_tab != 4:}}
      <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=4', [], function(res) {location.reload(true);});">View List</button>
    {{else:}}
      <button style="background-color: gray; color: white;">View List</button>
    {{pass}}
  {{else:}}
      <button title="Army List is Empty" disabled>Edit Units</button>
      <button title="Army List is Empty" disabled>View List</button>
  {{pass}}
</div>
<hr>

<!-- List Information Header -->
{{if session.army_book_json:}}
  <div id="result" style="text-align: right;">Army Book: {{=session.army_book_name}}</div>
{{else:}}
  <div id="result" style="text-align: right; color: red;">Army Book: None</div>
{{pass}}
{{if session.list_name:}}
  <div id="result" style="text-align: right;">List: {{=session.list_name}}</div>
{{else:}}
  <div id="result" style="text-align: right; color: red;">List: None</div>
{{pass}}
{{if session.army_list and session.list_name and 'Price' in session.army_list.keys():}}
  <div id="result" style="text-align: right;">Price: {{=session.army_list['Price']}}</div>
{{pass}}
<hr>

<!-- Configure List Tab -->
{{if session.current_tab == 1:}}
  <div id="tab1">
    <form>
      <h5>Choose an Army Book:</h5>
      {{=SELECT(*[OPTION(item, _value=item) for item in session.armyBooks], _name='bookSelection')}}
      <input type="submit" value="Load Army Book" />
      <input type="hidden" name="request_id" value="selectArmyBook">
    </form>
    <hr>
    <h5>Update List Name:</h5>
    <form>
      <input type="text" name="listName" placeholder="List Name" required>
      <input type="submit" value="Update List Name" />
      <input type="hidden" name="request_id" value="updateListName">
    </form>
    <hr>
    <h5>Save/Load List:</h5>
    {{if not auth.user:}}
        <a href="https://barry4356.pythonanywhere.com/army_forge/default/user/login">Login to Save/Load Lists</a>
    {{elif not session.army_list or "Units" not in session.army_list.keys() or not session.army_list["Units"]:}}
        <div>Nothing to Save</div>
        <button title="Nothing to Save" disabled>QuickSave</button>
        <!--<button title="Nothing to Save" disabled>SaveAs</button>-->
        <!--<button title="Nothing to Save" disabled>SaveCopy</button>-->
        <br>
        <br>
        <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=5', [], function(res) {location.reload(true);});">Load</button>
    {{else:}}
        <button onclick="ajax('{{=URL('default', 'saveList')}}', [], function(res) {location.reload(true);});">QuickSave</button>
        <!--<button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">SaveAs</button>-->
        <!--<button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">SaveCopy</button>-->
        <br>
        <br>
        <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=5', [], function(res) {location.reload(true);});">Load Saved List</button>
    {{pass}}
    <hr>
    <h5>Upload List File:</h5>
    <form method="POST" enctype="multipart/form-data">
      <!-- accept=".txt" restricts selection to standard plain text files -->
      <input type="file" id="text-file" name="textFile" accept=".json" required>
      <br>
      <br>
      <input type="hidden" name="request_id" value="uploadListFile">
      <input type="submit" value="Upload List">
    </form>
    <hr>
    <h5>Download List File:</h5>
    {{if not session.army_list or "Units" not in session.army_list.keys() or not session.army_list["Units"]:}}
      <div>Nothing to Download</div>
    {{else:}}
      <a href="{{=URL('default', 'download_list', args='')}}" class="button">Download Army List File</a>
    {{pass}}
    <hr>
  </div>
{{pass}}

<!-- Add Units Tab -->
{{if session.current_tab == 2:}}
  <div id="tab2">
    {{for unit in session.army_book['Units'].keys():}}
      <form style="margin-bottom: 20px;">
        <b>{{=unit}} [{{=session.army_book['Units'][unit]['models']}}]</b>
        <div>Qual: {{=session.army_book['Units'][unit]['quality']}}+&ensp;Def: {{=session.army_book['Units'][unit]['defense']}}+&ensp;Price: {{=session.army_book['Units'][unit]['base_points']}}</div>
        <div>Weapons:</div>
        {{for weapon in session.army_book['Units'][unit]['weapons']:}}
          <div>&emsp;{{=weapon}}</div>
        {{pass}}
        <div>Perks: {{=', '.join(session.army_book['Units'][unit]['perks'])}}</div>
        <input type="submit" value="Add to List" />
        <input type="hidden" name="request_id" value="AddUnitToList">
        <input type="hidden" name="unitName" value="{{=unit}}">
      </form>
    {{pass}}
  </div>
{{pass}}

<!-- Edit Units Tab -->
{{if session.current_tab == 3:}}
<div id="tab3">
  {{for unit_key in session.army_list_upgraded["Units"]:}}
    {{if session.army_list_upgraded["Units"][unit_key]["name"]:}}
        <h5>{{=session.army_list_upgraded["Units"][unit_key]["name"]}}</h5>
    {{pass}}
    <b>{{=session.army_list_upgraded["Units"][unit_key]["unit_type"]}} [{{=session.army_list_upgraded["Units"][unit_key]['models']}}]</b>
    <div>Qual: {{=session.army_list_upgraded['Units'][unit_key]['quality']}}+&ensp;Def: {{=session.army_list_upgraded['Units'][unit_key]['defense']}}+&ensp;Price: {{=session.army_list_upgraded['Units'][unit_key]['price']}}</div>
    <div>Weapons:</div>
    {{for weapon in session.army_list_upgraded['Units'][unit_key]['weapons']:}}
        <div>&emsp;{{=weapon}}</div>
    {{pass}}
    <div>Perks: {{=', '.join(session.army_list_upgraded['Units'][unit_key]['perks'])}}</div>
    <div>Price: {{=session.army_list_upgraded["Units"][unit_key]["price"]}}</div>
    <button onclick="ajax('{{=URL('default', 'editUnit')}}?myvar={{=unit_key}}', [], function(res) {location.reload(true);});">Edit Unit</button>
    <button onclick="ajax('{{=URL('default', 'removeUnit')}}?myvar={{=unit_key}}', [], function(res) {location.reload(true);});">Remove Unit</button>
    <br>
    <br>
    <br>
  {{pass}}
</div>
{{pass}}


<style>
@media print {
    /* Hide navigation, buttons, and sidebars when printing */
    body * {
        visibility: hidden;
    }
    #tab4, #tab4 * {
        visibility: visible;
    }
    #tab4 {
        position: absolute;
        left: 0;
        top: 0;
    }
}
</style>
<!-- View List Tab -->
{{if session.current_tab == 4:}}
<div id="tab4">
    <h3>{{=session.list_name}}</h3>
    <h4>Book: {{=session.army_book_name}}</h4>
    <h5>Price: {{=session.army_list['Price']}}</h5>
    <hr>
  {{for unit_key in session.army_list_upgraded["Units"]:}}
    {{if session.army_list_upgraded["Units"][unit_key]["name"]:}}
        <h4>{{=session.army_list_upgraded["Units"][unit_key]["name"]}}</h4>
    {{pass}}
    <h5>{{=session.army_list_upgraded["Units"][unit_key]["unit_type"]}} [{{=session.army_list_upgraded["Units"][unit_key]['models']}}]</h5>
    <div>Qual: {{=session.army_list_upgraded['Units'][unit_key]['quality']}}+&ensp;Def: {{=session.army_list_upgraded['Units'][unit_key]['defense']}}+&ensp;Price: {{=session.army_list_upgraded['Units'][unit_key]['price']}}</div>
    <div>Weapons:</div>
    {{for weapon in session.army_list_upgraded['Units'][unit_key]['weapons']:}}
        <div>&emsp;{{=weapon}}</div>
    {{pass}}
    <div>Perks: {{=', '.join(session.army_list_upgraded['Units'][unit_key]['perks'])}}</div>
    <div>Price: {{=session.army_list_upgraded["Units"][unit_key]["price"]}}</div>
    <br>
    <br>
    <br>
  {{pass}}
</div>
<button onclick="window.print()" class="btn btn-default">
  Print List
</button>
{{pass}}

<!-- Load List From File Tab -->
{{if session.current_tab == 5:}}
<div id="tab5">
  <h3>Load List</h3>
    <form>
      <label for="armyFileSelection">Choose List to Load:</label>
      {{=SELECT(*[OPTION(item, _value=item) for item in session.armyLists], _name='armyFileSelection')}}<br />
      <input type="submit" value="Load Army List" />
      <input type="hidden" name="request_id" value="loadArmyList">
      <button type="button" onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Cancel</button>
  </form>
</div>
{{pass}}

<!-- Edit Unit Tab -->
{{if session.current_tab == 6:}}
    <h2>{{=str(session.editUnit["name"])}}</h2>
    <h3>{{=str(session.editUnit["unit_type"])}} [{{=session.editUnit['models']}}]</h3>
    <div>Weapons:</div>
    {{for weapon in session.editUnit["weapons"]:}}
        <div>&emsp;{{=weapon}}</div>
    {{pass}}
    <div>Perks: {{=', '.join(session.editUnit['perks'])}}</div>
    <div>Price: {{=session.editUnit['price']}}</div>
    <hr>
    <form>
      <label for="UnitName">Name Unit:</label>
      <input type="text" id="unitName" name="unitName" placeholder="Unit Name">
      <input type="submit" value="Update" />
      <input type="hidden" name="request_id" value="updateUnitName">
      <input type="hidden" name="unitKey" value="{{=session.editUnit['unit_key']}}">
    </form>
    {{if session.editUnit['models'] > 1 and not session.editUnit['combined']:}}
      <label for="combineUnit">Combine Unit: </label>
      <input type="checkbox" id="combineUnit" name="combineUnit" value="combineUnit" onchange="ajax('{{=URL('default', 'combine_unit')}}?unitKey={{=session.editUnit['unit_key']}}&combine=True', [], function(res) {location.reload(true);});" unchecked>
    {{elif session.editUnit['models'] > 1 and session.editUnit['combined']:}}
      <label for="combineUnit">Combine Unit: </label>
      <input type="checkbox" id="combineUnit" name="combineUnit" value="combineUnit" onchange="ajax('{{=URL('default', 'combine_unit')}}?unitKey={{=session.editUnit['unit_key']}}&combine=False', [], function(res) {location.reload(true);});" checked>
    {{pass}}
    <br>
    <h5>Upgrades Options:</h5>
    {{for upgrade in session.editUnit["upgrades"]:}}
      <form>
        <i>&emsp;{{=upgrade['section']}}</i>
        <br>
        {{if upgrade['type'] == 'CHOOSE_MULTIPLE':}}
          {{for option in upgrade['choices']:}}
            {{if option["selected"]:}}
                &emsp;&emsp;<input type="checkbox" id="{{=option['name']}}" name="{{=upgrade['section']}}" value="{{=option['name']}}" onchange="ajax('{{=URL('default', 'update_unit_choosemult')}}?unitKey={{=session.editUnit['unit_key']}}&upgradeSection={{=upgrade['section']}}&optionName={{=option['name']}}&Selected=False', [], function(res) {location.reload(true);});" checked>
            {{else:}}
                &emsp;&emsp;<input type="checkbox" id="{{=option['name']}}" name="{{=upgrade['section']}}" value="{{=option['name']}}" onchange="ajax('{{=URL('default', 'update_unit_choosemult')}}?unitKey={{=session.editUnit['unit_key']}}&upgradeSection={{=upgrade['section']}}&optionName={{=option['name']}}&Selected=True', [], function(res) {location.reload(true);});" unchecked>
            {{pass}}
            <label for={{=option["name"]}}><strong>{{=option["name"]}}</strong> &emsp; Points: {{=option["price"]}}</label>
            <br>
          {{pass}}
        {{elif upgrade['type'] == 'CHOOSE_ONE':}}
          {{for option in upgrade['choices']:}}
            {{if option["selected"]:}}
                &emsp;&emsp;<input type="radio" id="{{=option["name"]}}" name="{{=upgrade['section']}}" value="{{=option['name']}}" onchange="ajax('{{=URL('default', 'update_unit_chooseone')}}?unitKey={{=session.editUnit['unit_key']}}&upgradeSection={{=upgrade['section']}}&optionName={{=option['name']}}', [], function(res) {location.reload(true);});" checked>
            {{else:}}
                &emsp;&emsp;<input type="radio" id="{{=option["name"]}}" name="{{=upgrade['section']}}" value="{{=option['name']}}" onchange="ajax('{{=URL('default', 'update_unit_chooseone')}}?unitKey={{=session.editUnit['unit_key']}}&upgradeSection={{=upgrade['section']}}&optionName={{=option['name']}}', [], function(res) {location.reload(true);});" unchecked>
            {{pass}}
            <label for={{=option["name"]}}><strong>{{=option["name"]}}</strong> &emsp; Points: {{=option["price"]}}</label>
            <br>
          {{pass}}
          &emsp;&emsp;<input type="radio" id=None name="{{=upgrade['section']}}" value=None onchange="ajax('{{=URL('default', 'update_unit_chooseone')}}?unitKey={{=session.editUnit['unit_key']}}&upgradeSection={{=upgrade['section']}}&optionName=None', [], function(res) {location.reload(true);});" unchecked>
          <label for=None><strong>None</strong></label>
          <br>
        {{pass}}
      </form>
      <br>
    {{pass}}
    <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=3', [], function(res) {location.reload(true);});">Done</button>
    <br>
    <br>
{{pass}}

<!-- Unit Details Tab -->
{{if session.current_tab == 7:}}
    <b>{{=str(session.editUnit["name"])}}</b>
    <b>{{=str(session.editUnit["unit_type"])}}</b>
    <div>Weapons:</div>
    {{for weapon in session.editUnit["weapons"]:}}
        <div>&emsp;{{=weapon}}</div>
    {{pass}}
    <div>Perks: {{=', '.join(session.editUnit['perks'])}}</div>
    <div>{{=session.editUnit}}</div>
    <div>Upgrades:</div>
    <div>{{=session.editUnit["upgrades"]}}</div>{{pass}}

<!-- onchange="ajax('{{=URL('default', 'update_numOfModels')}}', ['numOfModels'], 'price');" -->
