{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Army Forged</h1>
  </div>
</div>
{{end}}

<!-- <div id="result">{{=session.current_tab}}</div> -->

<!-- Tab Navigation Buttons -->
<div class="tab-container">
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Setup List</button>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=2', [], function(res) {location.reload(true);});">Add Units</button>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=3', [], function(res) {location.reload(true);});">Edit List</button>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=4', [], function(res) {location.reload(true);});">View List</button>
</div>


<!-- Tab Content Panels -->
{{if session.current_tab == 1:}}
<div id="tab1">
  <h3>Setup List</h3>
  <p>Choose your army book, list type, list name, save/load your lists, etc..</p>
</div>
{{pass}}


{{if session.current_tab == 2:}}
<div id="tab2">
  <h3>Add to List</h3>
  <p>Add units from your selected army-book to your list.</p>
</div>
{{pass}}

{{if session.current_tab == 3:}}
<div id="tab3">
  <h3>Edit List</h3>
  <p>Modify Units in your List.</p>
</div>
{{pass}}

{{if session.current_tab == 4:}}
<div id="tab4">
  <h3>View List</h3>
  <p>Print your list here.</p>
</div>
{{pass}}


<!-- onchange="ajax('{{=URL('default', 'update_numOfModels')}}', ['numOfModels'], 'price');" -->
