{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Army Forged</h1>
  </div>
</div>
{{end}}


<!-- Tab Navigation Buttons -->
<div class="tab-container">
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Configure</button>
  {{if session.army_book and session.list_name:}}
    <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=2', [], function(res) {location.reload(true);});">Add Units</button>
  {{else:}}
    <button title="Must Select Army Book and Name the List" disabled>Add Units</button>
  {{pass}}
  {{if session.army_list:}}
      <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=3', [], function(res) {location.reload(true);});">Edit Units</button>
      <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=4', [], function(res) {location.reload(true);});">View List</button>
  {{else:}}
      <button title="Army List is Empty" disabled>Edit Units</button>
      <button title="Army List is Empty" disabled>View List</button>
  {{pass}}
</div>
<hr>

{{if session.army_book_json:}}
 <div id="result" style="text-align: right;">Army Book: {{=session.army_book_name}}</div>
 {{pass}}
 {{if session.list_name:}}
 <div id="result" style="text-align: right;">List: {{=session.list_name}}</div>
 <br>
 {{pass}}
<br>

<!-- Configure List -->
{{if session.current_tab == 1:}}
<div id="tab1">
  <h3>Configure List</h3>
  <hr>
  <form>
      <label for="bookSelection">Choose an Army Book:</label>
      {{=SELECT(*[OPTION(item, _value=item) for item in session.armyBooks], _name='bookSelection')}}<br />
      <input type="submit" value="Select Army Book" />
      <input type="hidden" name="request_id" value="selectArmyBook">

  </form>
  <hr>
  <form>
    <input type="text" name="listName" placeholder="List Name" required>
    <input type="submit" value="Update List Name" />
    <input type="hidden" name="request_id" value="updateListName">
  </form>
  <hr>
  {{if not auth.user:}}
  <a href="https://barry4356.pythonanywhere.com/army_forge/default/user/login">Login to Save/Load Lists</a>
  {{else:}}
  <div>Save/Load List</div>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Save</button>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">SaveAs</button>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">SaveCopy</button>
  <br>
  <br>
  <button onclick="ajax('{{=URL('default', 'switchTab')}}?myvar=1', [], function(res) {location.reload(true);});">Load</button>
  {{pass}}
  <hr>
</div>
{{pass}}

<!-- Add Units -->
{{if session.current_tab == 2:}}
<div id="tab2">
  <h3>Add to List</h3>
  <p>Add units from your selected army-book(s) to your list.</p>
  {{for unit in session.army_book['Units'].keys():}}
    <form>
      <b>{{=unit}}</b>
      <div>Qual: {{=session.army_book['Units'][unit]['quality']}}+&ensp;Def: {{=session.army_book['Units'][unit]['defense']}}+&ensp;Price: {{=session.army_book['Units'][unit]['base_points']}}</div>
      <div>Weapons:</div>
      {{for weapon in session.army_book['Units'][unit]['weapons']:}}
        <div>&emsp;{{=weapon}}</div>
      {{pass}}
      <div>Perks: {{=', '.join(session.army_book['Units'][unit]['perks'])}}</div>
      <input type="submit" value="Add to List" />
      <input type="hidden" name="request_id" value="AddUnitToList">
      <input type="hidden" name="unitName" value="{{=unit}}">
    </form>
  {{pass}}
</div>
{{pass}}

<!-- Edit Units -->
{{if session.current_tab == 3:}}
<div id="tab3">
  <h3>Edit List</h3>
  <p>Modify Units in your List.</p>
  {{for unit in session.army_list:}}
    <div>{{=unit}}</div>
  {{pass}}
</div>
{{pass}}

{{if session.current_tab == 4:}}
<div id="tab4">
  <h3>View List</h3>
  <p>Print your list here.</p>
</div>
{{pass}}


<!-- onchange="ajax('{{=URL('default', 'update_numOfModels')}}', ['numOfModels'], 'price');" -->
