{{extend 'layout.html'}}

<link href="{{=URL('static', 'css/overlay.css')}}" rel="stylesheet" type="text/css" />

<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

</style>

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Age of Fantasy: World Map</h1>
  </div>
</div>
{{end}}

<form>
  <p class="lead">{{=T('Map Filters:')}}</p>
  <label>Zones of Control--</label><input type="checkbox" name="showZones" /><br />
  <label>Battlefields--</label><input type="checkbox" name="showBattles" /><br />
  <input type="submit" />
</form>

<div id='container'>
{{if False:}}
<img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" alt="Workplace" usemap="#workmap" id="overlay_image">
{{pass}}
<img src="{{=URL('static', 'images')}}/Export_06072024.png" alt="Workplace" usemap="#workmap" id='main_image'>
{{if showZones:}}
<img src="{{=URL('static', 'images')}}/Background.png" alt="Workplace" usemap="#workmap" id='zones_image'>
{{pass}}
{{if False:}}
<img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" alt="Workplace" usemap="#workmap" id="temp_image">
{{pass}}
{{if showBattles:}}
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Battlefield1.md id="battle1_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Baileys.md#overview id="battle2_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Battlefield2.md id="battle3_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Battlefield5.md id="battle5_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Campari.md#overview id="battle6_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
<a href=https://github.com/barry4356/python_anywhere/blob/master/applications/aof_interactive_map/Markdowns/Battlefield7.md id="battle7_image"> <img src="{{=URL('static', 'images')}}/battlefield.svg" id=battle_image_inner loading="lazy"> </a>
{{pass}}
</div>



